@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap");
body {
  font-family: "Manrope", sans-serif;
  margin: 0;
}
body .container {
  max-width: 1110px;
  margin: 0 auto;
  overflow: hidden;
}
body a {
  text-decoration: none;
}
body li {
  list-style: none;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  margin: 0;
}
body p {
  margin: 0;
}
body button {
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  body .container {
    max-width: 690px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 600px) {
  body .container {
    max-width: 327px;
    margin: 0 auto;
  }
}
a svg:hover path {
  fill: #D87D4A;
}

header {
  width: 100%;
}
header .header {
  padding: 32px 0 36px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
header .header .logo {
  display: flex;
  align-items: center;
  -moz-column-gap: 42px;
       column-gap: 42px;
}
header .header .logo #gamburger {
  display: none;
}
header .header nav {
  width: 429px;
  display: flex;
  justify-content: space-between;
}
header .header nav li a {
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}
header .header nav li a:hover {
  color: #D87D4A;
}

@media only screen and (max-width: 1000px) {
  header .header .logo #gamburger {
    display: block;
  }
  header .header nav {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  header .header {
    padding: 32px 0;
  }
  header .header .logo {
    -moz-column-gap: 76px;
         column-gap: 76px;
  }
  header .header .logo #gamburger {
    display: block;
  }
  header .header nav {
    display: none;
  }
}
footer {
  width: 100%;
  background: #101010;
}
footer .footer {
  background-image: url(/img/line.png);
  background-repeat: no-repeat;
  background-position: left top;
  padding: 75px 0 48px 0;
  display: flex;
  flex-direction: column;
  row-gap: 36px;
}
footer .footer .footer__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
footer .footer .footer__nav nav {
  width: 429px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .footer .footer__nav nav li a {
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
}
footer .footer .footer__nav nav li a:hover {
  color: #D87D4A;
}
footer .footer .about__contact {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
footer .footer .about__contact p {
  max-width: 540px;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}
footer .footer .about__contact .social__network {
  width: 104px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer .copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer .copyright p {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}
footer .footer .copyright .mobile {
  display: none;
}
footer .footer .copyright .mobile .social__network {
  width: 104px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  footer .footer {
    padding: 60px 0 46px 0;
    row-gap: 32px;
  }
  footer .footer .footer__nav {
    align-items: flex-start;
    row-gap: 32px;
    flex-direction: column;
  }
  footer .footer .about__contact {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
  }
  footer .footer .about__contact p {
    max-width: 690px;
  }
  footer .footer .about__contact .social__network {
    display: none;
  }
  footer .footer .copyright .mobile {
    display: block;
  }
}
@media only screen and (max-width: 600px) {
  footer .footer {
    background-position: center top;
    padding: 52px 0 38px 0;
    row-gap: 48px;
    text-align: center;
  }
  footer .footer .footer__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 48px;
  }
  footer .footer .footer__nav nav {
    width: 108px;
    justify-content: center;
    row-gap: 16px;
  }
  footer .footer .about__contact {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
  }
  footer .footer .about__contact .social__network {
    display: none;
  }
  footer .footer .copyright {
    flex-direction: column;
    row-gap: 48px;
  }
  footer .footer .copyright .mobile {
    display: block;
  }
}
body {
  background: #F2F2F2;
}

.head {
  width: 100%;
  background: #141414;
}

main {
  padding: 80px 0 140px 0;
}
main .main__section {
  display: flex;
  flex-direction: column;
  row-gap: 38px;
}
main .main__section .checkout__summary {
  display: flex;
  row-gap: 32px;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
main .main__section .checkout__summary .checkout {
  max-width: 730px;
  background: white;
  border-radius: 8px;
  padding: 54px 48px;
  display: flex;
  flex-direction: column;
  row-gap: 41px;
}
main .main__section .checkout__summary .checkout h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: 1.14286px;
  text-transform: uppercase;
}
main .main__section .checkout__summary .checkout h4 {
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  letter-spacing: 0.928571px;
  text-transform: uppercase;
  color: #D87D4A;
}
main .main__section .checkout__summary .checkout label {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.214286px;
}
main .main__section .checkout__summary .checkout .billing__details {
  width: 634px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
main .main__section .checkout__summary .checkout .billing__details .forms {
  display: flex;
  gap: 24px 16px;
  flex-wrap: wrap;
}
main .main__section .checkout__summary .checkout .billing__details .forms form {
  display: flex;
  flex-direction: column;
  row-gap: 9px;
}
main .main__section .checkout__summary .checkout .billing__details .forms form input {
  padding: 18px 22px;
  width: 263.4px;
  background: #FFFFFF;
  border: 1px solid #CFCFCF;
  border-radius: 8px;
  outline: 0;
}
main .main__section .checkout__summary .checkout .billing__details .forms form input:hover {
  border-color: #D87D4A;
  cursor: pointer;
}
main .main__section .checkout__summary .checkout .billing__details .forms form input input::-moz-placeholder {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.25px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.4;
}
main .main__section .checkout__summary .checkout .billing__details .forms form input input:-ms-input-placeholder {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.25px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.4;
}
main .main__section .checkout__summary .checkout .billing__details .forms form input input::placeholder {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.25px;
  color: #000000;
  mix-blend-mode: normal;
  opacity: 0.4;
}
main .main__section .checkout__summary .checkout .shipping__info .forms form #address {
  width: 588.4px;
  padding: 18px 22px;
}
main .main__section .checkout__summary .checkout .payment__details {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
main .main__section .checkout__summary .checkout .payment__details .billing__details .payment__method {
  display: flex;
  row-gap: 17px;
  justify-content: space-between;
  flex-wrap: wrap;
}
main .main__section .checkout__summary .checkout .payment__details .billing__details .payment__method span {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: -0.214286px;
}
main .main__section .checkout__summary .checkout .payment__details .billing__details .payment__method .custom__chekcbox {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
main .main__section .checkout__summary .checkout .payment__details .billing__details .payment__method .custom__chekcbox .radio {
  padding: 18px 22px;
  width: 263.4px;
  background: #FFFFFF;
  border: 1px solid #CFCFCF;
  border-radius: 8px;
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
main .main__section .checkout__summary .checkout .payment__details .billing__details .payment__method .custom__chekcbox .radio:hover {
  border-color: #D87D4A;
  cursor: pointer;
}
main .main__section .checkout__summary .checkout .payment__details .billing__details .payment__method .custom__chekcbox .radio input {
  display: none;
}
main .main__section .checkout__summary .checkout .payment__details .billing__details .payment__method .custom__chekcbox .radio input[type=radio]:checked ~ label::before {
  background: #D87D4A;
}
main .main__section .checkout__summary .checkout .payment__details .billing__details .payment__method .custom__chekcbox .radio label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 1px solid #CFCFCF;
}
main .main__section .checkout__summary .checkout .payment__details .billing__details .payment__method .custom__chekcbox .radio label:hover {
  cursor: pointer;
}
main .main__section .checkout__summary .checkout .payment__details .billing__details .payment__method .custom__chekcbox .radio label::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}
main .main__section .checkout__summary .checkout .payment__details .billing__details .payment__method .custom__chekcbox .radio span {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.25px;
}
main .main__section .checkout__summary .checkout .payment__details .billing__details .payment__method .custom__chekcbox .radio:has(input[type=radio]:checked) {
  border-color: #D87D4A;
}
main .main__section .checkout__summary .checkout .payment__details .billing__details .forms {
  display: none;
  margin-top: 8px;
}
main .main__section .checkout__summary .summary {
  width: 284px;
  background: #FFFFFF;
  border-radius: 8px;
  padding: 32px 33px;
  display: flex;
  flex-direction: column;
  row-gap: 32px;
}
main .main__section .checkout__summary .summary h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 1.28571px;
  text-transform: uppercase;
}
main .main__section .checkout__summary .summary .buy__products {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
main .main__section .checkout__summary .summary .buy__products .products {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .main__section .checkout__summary .summary .buy__products .products .product__info {
  display: flex;
  align-items: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
main .main__section .checkout__summary .summary .buy__products .products .product__info .product__images {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  background: #F1F1F1;
  border-radius: 8px;
}
main .main__section .checkout__summary .summary .buy__products .products .product__info .product__images img {
  width: 36px;
}
main .main__section .checkout__summary .summary .buy__products .products .product__info .info h5 {
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
}
main .main__section .checkout__summary .summary .buy__products .products .product__info .info strong {
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  mix-blend-mode: normal;
  opacity: 0.5;
}
main .main__section .checkout__summary .summary .buy__products .products span {
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  mix-blend-mode: normal;
  opacity: 0.5;
}
main .main__section .checkout__summary .summary .total__cost {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
main .main__section .checkout__summary .summary .total__cost h6 {
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  mix-blend-mode: normal;
  opacity: 0.5;
}
main .main__section .checkout__summary .summary .total__cost strong {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;
}
main .main__section .checkout__summary .summary .total__cost .total {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
main .main__section .checkout__summary .summary .total__cost .total .cost {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .main__section .checkout__summary .summary .total__cost .grand__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .main__section .checkout__summary .summary .total__cost .grand__total strong {
  color: #D87D4A;
}
main .main__section .checkout__summary .summary button {
  padding: 15px 0;
  background: #D87D4A;
  border: 0;
}
main .main__section .checkout__summary .summary button:hover {
  background: #FBAF85;
}
main .main__section .checkout__summary .summary button:hover a {
  display: none;
}
main .main__section .checkout__summary .summary button:hover #continue {
  display: block;
}
main .main__section .checkout__summary .summary button a {
  font-weight: 700;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #FFFFFF;
}
main .main__section .checkout__summary .summary button #continue {
  display: none;
}

@media only screen and (max-width: 1000px) {
  main {
    padding: 48px 0 116px 0;
  }
  main .main__section {
    row-gap: 24px;
  }
  main .main__section .checkout__summary .checkout {
    padding: 30px 28px;
  }
  main .main__section .checkout__summary .summary {
    width: 689px;
  }
}
@media only screen and (max-width: 600px) {
  main {
    padding: 16px 0 97px 0;
  }
  main .main__section {
    row-gap: 24px;
  }
  main .main__section .checkout__summary .checkout {
    max-width: 327px;
    padding: 24px;
    row-gap: 32px;
  }
  main .main__section .checkout__summary .checkout h1 {
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 1px;
  }
  main .main__section .checkout__summary .checkout .billing__details {
    width: 280px;
  }
  main .main__section .checkout__summary .checkout .billing__details .forms form {
    display: flex;
    flex-direction: column;
    row-gap: 9px;
  }
  main .main__section .checkout__summary .checkout .billing__details .forms form input {
    width: 234.4px;
  }
  main .main__section .checkout__summary .checkout .shipping__info .forms form #address {
    width: 234.4px;
  }
  main .main__section .checkout__summary .checkout .payment__details .billing__details .payment__method .custom__chekcbox {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  main .main__section .checkout__summary .checkout .payment__details .billing__details .payment__method .custom__chekcbox .radio {
    width: 234.4px;
  }
}/*# sourceMappingURL=checkout.css.map */