footer{
  width: 100%;
  background: #101010;
  .footer{
    background-image: url(/img/line.png);
    background-repeat: no-repeat;
    background-position: left top;
    padding: 75px 0 48px 0;

    display: flex;
    flex-direction: column;
    row-gap: 36px;
    .footer__nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      nav{
        width: 429px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        li{
          a{
            font-weight: 700;
            font-size: 13px;
            line-height: 25px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #FFFFFF;
            &:hover{
              color: #D87D4A;
            }
          }
        }
      }
    }
    .about__contact{
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
      p{
        max-width: 540px;
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.5;
      }
      .social__network{
        width: 104px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    .copyright{
      display: flex;
      justify-content: space-between;
      align-items: center;
      p{
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
        color: #FFFFFF;
        mix-blend-mode: normal;
        opacity: 0.5;
      }
      .mobile{
        display: none;
        .social__network{
          width: 104px;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}


//Tablet media
@media only screen and (max-width:1000px) {
  footer{
    .footer{
      padding: 60px 0 46px 0;
      row-gap: 32px;
      .footer__nav{
        align-items: flex-start;
        row-gap: 32px;
        flex-direction: column;
      }
      .about__contact{
        display: flex;
        justify-content: space-between;
        margin-bottom: 48px;
        p{
          max-width: 690px;
        }
        .social__network{
          display: none;
        }
      }
      .copyright{
        .mobile{
          display: block;
        }
      }
    }
  }
}

//Mobile media
@media only screen and (max-width:600px) {
  footer{
    .footer{
      background-position: center top;
      padding: 52px 0 38px 0;
      row-gap: 48px;
      text-align: center;
      .footer__nav{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 48px;
        nav{
          width: 108px;
          justify-content: center;
          row-gap: 16px;
        }
      }
      .about__contact{
        display: flex;
        justify-content: space-between;
        margin-bottom: 0px;
        .social__network{
          display: none;
        }
      }
      .copyright{
        flex-direction: column;
        row-gap: 48px;
        .mobile{
          display: block;
        }
      }
    }
  }
}