.product__know{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .know{
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    align-items: center;
  }
}

//Tablet media
@media only screen and (max-width:1000px) {
  .product__know{
    flex-wrap: nowrap;
    column-gap: 18px;
    .know{
      row-gap: 20px;
      img{
        width: 277px;
      }
    }
    img{
      width: 395px;
    }
  }
}


//mobile media
@media only screen and (max-width:600px) {
  .product__know{
    row-gap: 20px;
    flex-direction: column;
    .know{
      row-gap: 20px;
      img{
        width: 327px;
      }
    }
    img{
      width: 327px;
    }
  }
}