.product__know{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .know{
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    align-items: center;
  }
  #tablet{
    display: none;
  }
  #mobile{
    display: none;
  }
}

//Tablet media
@media only screen and (max-width:1000px) {
  .product__know{
    flex-wrap: nowrap;
    column-gap: 18px;
    #desktop{
      display: none;
    }
    #tablet{
      display: block;
    }
    #mobile{
      display: none;
    }
    .know{
      row-gap: 20px;
      .know1{
        width: 277px;
        height: 174px;
      }
      .know2{
        width: 277px;
        height: 174px;
      }
    }
    .know3{
      width: 395px;
      height: 368px;
    }
  }
}


//mobile media
@media only screen and (max-width:600px) {
  .product__know{
    row-gap: 20px;
    flex-direction: column;
    #desktop{
      display: none;
    }
    #tablet{
      display: none;
    }
    #mobile{
      display: block;
    }
    .know{
      row-gap: 20px;
      .know1{
        width: 327px;
        height: 174px;
      }
      .know2{
        width: 327px;
        height: 174px;
      }
    }
    .know3{
      width: 327px;
      height: 368px;
    }
  }
}